@model T2_Salazar_Renzo.Models.Distribuidor

@{
    ViewData["Title"] = "Editar Distribuidor";
}

<h2>Editar Distribuidor</h2>

<h4>Distribuidor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="NombreDistribuidor" class="control-label"></label>
                <input asp-for="NombreDistribuidor" class="form-control" />
                <span asp-validation-for="NombreDistribuidor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RazonSocial" class="control-label"></label>
                <input asp-for="RazonSocial" class="form-control" />
                <span asp-validation-for="RazonSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnioInicioOperacion" class="control-label"></label>
                <input asp-for="AnioInicioOperacion" class="form-control" />
                <span asp-validation-for="AnioInicioOperacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contacto" class="control-label"></label>
                <input asp-for="Contacto" class="form-control" />
                <span asp-validation-for="Contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
